@keyframes neon-flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
    box-shadow: 0px 0px 15px rgba(255, 70, 155, 0.8), 0px 0px 30px rgba(255, 70, 155, 0.4);
  }
  20%,
  24%,
  55% {
    opacity: 0.6;
    box-shadow: 0px 0px 5px rgba(255, 70, 155, 0.5), 0px 0px 10px rgba(255, 70, 155, 0.2);
  }
  22%,
  53% {
    opacity: 0.8;
    box-shadow: 0px 0px 10px rgba(255, 70, 155, 0.7), 0px 0px 20px rgba(255, 70, 155, 0.3);
  }
}

@keyframes neon-border-pulse {
  0%,
  100% {
    border-color: rgba(red($accent-color), green($accent-color), blue($accent-color), 0.6);
    box-shadow: 0px 4px 12px
        rgba(red($accent-color), green($accent-color), blue($accent-color), 0.5),
      0px 0px 15px rgba(red($accent-color), green($accent-color), blue($accent-color), 0.7);
  }
  50% {
    border-color: rgba(red($accent-color), green($accent-color), blue($accent-color), 0.4);
    box-shadow: 0px 4px 12px
        rgba(red($accent-color), green($accent-color), blue($accent-color), 0.3),
      0px 0px 10px rgba(red($accent-color), green($accent-color), blue($accent-color), 0.5);
  }
}

// for game header container
@keyframes pulseWinner {
  0% {
    background-color: $accent-color;
  }
  50% {
    background-color: lighten($success-color, 20%);
  }
  100% {
    background-color: $success-color;
  }
}

@keyframes settleToGreen {
  from {
    background-color: lighten($success-color, 20%);
  }
  to {
    background-color: $success-color;
  }
}

// for main game panel
@keyframes neon-border-pulse-green {
  0% {
    box-shadow: 0px 4px 12px
        rgba(red($success-color), green($success-color), blue($success-color), 0.5),
      0px 0px 15px rgba(red($success-color), green($success-color), blue($success-color), 0.7);
    border: 1px solid rgba(red($success-color), green($success-color), blue($success-color), 0.6);
  }
  100% {
    box-shadow: 0px 4px 12px
        rgba(red($success-color), green($success-color), blue($success-color), 0.2),
      0px 0px 15px rgba(red($success-color), green($success-color), blue($success-color), 0.4);
    border: 1px solid rgba(red($success-color), green($success-color), blue($success-color), 0.4);
  }
}

// for score board
@keyframes shuffle-tilt-pop {
  0% {
    transform: translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(-5px) rotate(-5deg) scale(1.05); /* Initial shuffle left with tilt */
  }
  40% {
    transform: translateX(5px) rotate(5deg) scale(1.1); /* Shuffle right with bigger pop and tilt */
  }
  60% {
    transform: translateX(-3px) rotate(-3deg) scale(1.08); /* Smaller shuffle back left */
  }
  80% {
    transform: translateX(3px) rotate(3deg) scale(1.05); /* Smaller shuffle right */
  }
  100% {
    transform: translateX(0) rotate(0deg) scale(1); /* Settle back to normal */
  }
}

/* spin animation for settings icon */
@keyframes spin {
  from {
    transform: rotate(0deg); /* Start rotation */
  }
  to {
    transform: rotate(360deg); /* Complete one full rotation */
  }
}
