.main_layout {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem 1rem;
}

/* .game_container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: $spacing-lg;
}

.quote_container {
  flex: 2;
  max-width: 60rem;
} */
