@import "../styles/variables.scss";

.game_container {
  display: flex;
  gap: $spacing-xl;
  width: 100%;
  margin-top: $spacing-xl;
}

.flex_container_primary {
  flex: 0.8;
}
.flex_container_secondary {
  flex: 0.2;
}

@media (max-width: $breakpoint-xl) {
  .game_container {
    flex-direction: column;
    gap: $spacing-sm;
    margin-top: $spacing-lg;
  }
}

@media (max-width: $breakpoint-sm) {
  .game_container {
    margin-top: $spacing-md;
    gap: $spacing-lg;
  }
}
