@import "../../../../styles/variables";

.quote_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
}

.quotes_wrapper {
  position: relative;
  text-align: center;
}

blockquote {
  font-style: italic;
  color: $text-color;
  padding: 2rem;
  margin: 0;
  line-height: 1.6;

  p {
    font-size: $font-size-xl;
  }
}

.opening_quote,
.closing_quote {
  position: absolute;
  font-size: 3rem;
}

.opening_quote {
  top: 0rem;
  left: 0rem;
}

.closing_quote {
  top: 0rem;
  right: 0rem;
}
