@import "../../styles/variables.scss";

.game_header_main_container {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.game_header_top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score_container {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
}

.quoter_list_container {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
}
